apiVersion: apps/v1
kind: Deployment
metadata:
  name: openfga
  namespace: share-app
spec:
  replicas: 3
  template:
    spec:
      containers:
        - name: openfga
          env:
            - name: OPENFGA_PLAYGROUND_ENABLED
              value: "false"
          resources:
            requests:
              cpu: 500m
              memory: 512Mi
            limits:
              cpu: 1000m
              memory: 1Gi
